<div>
	<section class="main-banner one parallax">
		<h2 class="text-uppercase">About KV</h2>
	</section>
	<!-- Main Banner Ends -->
	<!-- Content Area Starts -->
		<div id="content-area" class="container text-center-xs">
		<!-- About Content Starts -->
			<h3 class="main-heading center">Built on a Tradition of Excellence</h3>
			<br class="hidden-lg hidden-md hidden-sm">
			<div class="row">
				<div class="col-md-5 col-sm-6 col-xs-12">
					<img src="images/about/about-img-1.jpg" alt="About Image" class="img-responsive img-style-1 img-center-xs">
					<br class="hidden-lg hidden-md hidden-sm">
				</div>				
				<div class="col-md-7 col-sm-6 col-xs-12">
					<p class="bold">
						KV Electric has been in business since 1984, and for the past 31 years we have strived to excel in all aspects of the electrical industry. Whether we're doing large or small scale commercial, industrial, residential or renewable construction, KV Electric will push for superior service and customer satisfaction. 
					</p>
					<p>
						Although we are promoting solar power and NetMetering, KV Electric has been a premier Electrical Contractor in the Southern Utah region. No matter what your electrical needs may be, we will exceed your expectations.
					</p>
					<p>
						"Our mission at KV Electric is to provide our customers with superior quality of service and products and competitive costs. We strive to maintain customer satisfaction and confidence, and to pursue excellence, innovation and improvement in all aspects of our trade." - Kerry Johnson, President
					</p>
				</div>
			</div>
			<!-- </div> -->
		<!-- About Content Ends -->
		<!-- Spacer Starts -->
			<br>
		<!-- Spacer Ends -->
				<div>
			<!-- Team Starts -->
				<h3 class="main-heading center">Meet Our Professional</h3>
				<!-- <div class="row"> -->
				<!-- Team #1 Bio Starts -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="team-bio-box">
							<img src="images/about/team-img-4.jpg" alt="Team #1 Image" class="img-responsive img-center-xs">
							<h5>Kerry Johnson</h5>
							<p>
								A Master Electrician for over 30 years.  There is no substitute for exeperience.
							</p>
						</div>
					</div>
				<!-- Team #1 Bio Ends -->
				<!-- Team #2 Bio Starts -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="team-bio-box">
							<img src="images/about/team-img-3.jpg" alt="Team #2 Image" class="img-responsive img-center-xs">
							<h5>Jon Layne</h5>
							<p>
								Northern Utah Division Manager. Licensed Architect with design build expertise.
							</p>
						</div>
					</div>
				<!-- Team #2 Bio Ends -->
				<!-- Team #3 Bio Starts -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="team-bio-box">
							<img src="images/about/team-img-2.jpg" alt="Team #3 Image" class="img-responsive img-center-xs">
							<h5>Kim Muir</h5>
							<p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							</p>
						</div>
					</div>
				<!-- Team #3 Bio Ends -->
				<!-- Team #4 Bio Starts -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="team-bio-box">
							<img src="images/about/team-img-2.jpg" alt="Team #4 Image" class="img-responsive img-center-xs">
							<h5>The New Lady</h5>
							<p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							</p>
						</div>
					</div>
				<!-- Team #4 Bio Ends -->
				</div>
				<div>
				<!-- Team #5 Bio Starts -->				
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="team-bio-box">
							<img src="images/about/team-img-4.jpg" alt="Team #1 Image" class="img-responsive img-center-xs">
							<h5>Clint Something</h5>
							<p>
								A Master Electrician for over 30 years.  There is no substitute for exeperience.
							</p>
						</div>
					</div>
				<!-- Team #5 Bio Ends -->
				<!-- Team #6 Bio Starts -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="team-bio-box">
							<img src="images/about/team-img-3.jpg" alt="Team #2 Image" class="img-responsive img-center-xs">
							<h5>Daniel Hansen</h5>
							<p>
								Northern Utah Division Manager. Licensed Architect with design build expertise.
							</p>
						</div>
					</div>
				<!-- Team #6 Bio Ends -->
				<!-- Team #7 Bio Starts -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="team-bio-box">
							<img src="images/about/team-img-1.jpg" alt="Team #3 Image" class="img-responsive img-center-xs">
							<h5>Brad Something</h5>
							<p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							</p>
						</div>
					</div>
				<!-- Team #7 Bio Ends -->
				<!-- Team #8 Bio Starts -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="team-bio-box">
							<img src="images/about/team-img-4.jpg" alt="Team #4 Image" class="img-responsive img-center-xs">
							<h5>Danny</h5>
							<p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							</p>
						</div>
					</div>
				</div>
		<!-- Team Ends -->
		</div>
</div>