
		<section class="main-banner one parallax">
			<h2 class="text-uppercase">Projects In the News</h2>
		</section>
	<!-- Main Banner Ends -->
	<!-- Content Area Starts -->
		<div id="content-area" class="container">
		<!-- Row Starts -->
			<div class="row">
			<!-- Mainarea Starts -->
				<div class="col-md-12 col-xs-12">
				<!-- Blog Single Post Starts -->
					<article class="blog-post single">
					<!-- Blog Media Starts -->
						<!-- <div class="blog-media">
							<img src="images/blog/blog-img1-big.jpg" alt="Blog Title" class="img-responsive">
						</div> -->
					<!-- Blog Media Ends -->
					<!-- Blog Post Info Starts -->
						<ul class="post-info list-unstyled list-inline">
							<li>
								<i class="fa fa-calendar-o"></i>
								Posted on Jan 12, 2015
							</li>
							<li>
								<i class="fa fa-user"></i> 
								<a href="#">KV</a>
							</li>
						</ul>
					<!-- Blog Post Info Ends -->
					<!-- Blog Title Starts -->
						<h5 class="blog-title">
							ST. GEORGE - I-15 Boulevard Bridge
						</h5>
					<!-- Blog Title Ends -->
					<!-- Blog Post Content Starts -->
						<div class="blog-post-content">
							<p><a href="http://www.stgeorgeutah.com/news/archive/2013/11/12/15-st-george-boulevard-bridge-closure-switch-diverging-diamond-interchange-configuration/#.VdtdsSxViko">The First completed Diverging Diamond Intersection in the State of Utah.</a>
								  
							</p>
						</div>
					<!-- Blog Post Content Ends -->					
					</article>
				</div>
			</div>
		</div>
		<div id="content-area" class="container">
		<!-- Row Starts -->
			<div class="row">
			<!-- Mainarea Starts -->
				<div class="col-md-12 col-xs-12">
				<!-- Blog Single Post Starts -->
					<article class="blog-post single">
					<!-- Blog Media Starts -->
						<!-- <div class="blog-media">
							<img src="images/blog/blog-img1-big.jpg" alt="Blog Title" class="img-responsive">
						</div> -->
					<!-- Blog Media Ends -->
					<!-- Blog Post Info Starts -->
						<ul class="post-info list-unstyled list-inline">
							<li>
								<i class="fa fa-calendar-o"></i>
								Posted on Jan 12, 2015
							</li>
							<li>
								<i class="fa fa-user"></i> 
								<a href="#">KV</a>
							</li>
						</ul>
					<!-- Blog Post Info Ends -->
					<!-- Blog Title Starts -->
						<h5 class="blog-title">
							Revamped I-15 corridor in Davis County
						</h5>
					<!-- Blog Title Ends -->
					<!-- Blog Post Content Starts -->
						<div class="blog-post-content">
							<p><a href="http://www.ksl.com/index.php?sid=36060385&nid=960">BOUNTIFUL — Davis County commuters, prepare to rejoice. Your freeway construction nightmare is coming to an end.</a>
								  
							</p>
						</div>
					<!-- Blog Post Content Ends -->					
					</article>
				</div>
			</div>
		</div>
	<!-- Content Area Ends -->	
	