		<section class="main-banner two parallax">
			<h2 class="text-uppercase">Street Projects</h2>
		</section>
	<!-- Content Area Starts -->
		<div id="content-area" class="container">
		<!-- Portfolio Gallery Filters Starts -->
			<ul id="gallery-filter" class="list-unstyled list-inline">
				<li>
					<a href="/#/commercial" class="active" data-group="all">
						Show All
					</a>
				</li>
				<li><a href="/#/commercial" data-group="category1">Category 1</a></li>
				<li><a href="/#/commercial" data-group="category2">Category 2</a></li>
				<li><a href="/#/commercial" data-group="category3">Category 3</a></li>
			</ul>
		<!-- Portfolio Gallery Filters Ends -->
		<!-- Portfolio Gallery Starts -->
			<ul id="gallery-grid" class="row col3">
			<!-- Gallery Item #1 Starts -->
				<li class="col-md-4 col-sm-6 col-xs-12 gallery-grid" data-groups='["all", "category1"]'>
					<img src="images/portfolio/portfolio-3col/portfolio-img1.jpg" alt="Gallery Image1" class="img-responsive">
					<h5>Walmart</h5>
					<p>
						Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.
					</p>
					<p><a href="portfolio-single.html" class="btn btn-main">Read More</a></p>
				</li>
			<!-- Gallery Item #1 Ends -->
			<!-- Gallery Item #2 Starts -->
				<li class="col-md-4 col-sm-6 col-xs-12 gallery-grid" data-groups='["all", "category2"]'>
					<img src="images/portfolio/portfolio-3col/portfolio-img1.jpg" alt="Gallery Image2" class="img-responsive">
					<h5>Snow Canyon High School</h5>
					<p>
						Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.
					</p>
					<p><a href="portfolio-single.html" class="btn btn-main">Read More</a></p>
				</li>
			<!-- Gallery Item #2 Ends -->
			<!-- Gallery Item #3 Starts -->
				<li class="col-md-4 col-sm-6 col-xs-12 gallery-grid" data-groups='["all", "category3"]'>
					<img src="images/portfolio/portfolio-3col/portfolio-img1.jpg" alt="Gallery Image3" class="img-responsive">
					<h5>Stephen Wade Nissan</h5>
					<p>
						Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.
					</p>
					<p><a href="portfolio-single.html" class="btn btn-main">Read More</a></p>
				</li>
			<!-- Gallery Item #3 Ends -->
			<!-- Gallery Item #4 Starts -->
				<li class="col-md-4 col-sm-6 col-xs-12 gallery-grid" data-groups='["all", "category1"]'>
					<img src="images/portfolio/portfolio-3col/portfolio-img1.jpg" alt="Gallery Image4" class="img-responsive">
					<h5>Jon's House</h5>
					<p>
						Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.
					</p>
					<p><a href="portfolio-single.html" class="btn btn-main">Read More</a></p>
				</li>
			<!-- Gallery Item #4 Ends -->
			<!-- Gallery Item #5 Starts -->
				<li class="col-md-4 col-sm-6 col-xs-12 gallery-grid" data-groups='["all", "category2"]'>
					<img src="images/portfolio/portfolio-3col/portfolio-img1.jpg" alt="Gallery Image5" class="img-responsive">
					<h5>Disneyland</h5>
					<p>
						Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.
					</p>
					<p><a href="portfolio-single.html" class="btn btn-main">Read More</a></p>
				</li>
			<!-- Gallery Item #5 Ends -->
			<!-- Gallery Item #6 Starts -->
				<li class="col-md-4 col-sm-6 col-xs-12 gallery-grid" data-groups='["all", "category3"]'>
					<img src="images/portfolio/portfolio-3col/portfolio-img1.jpg" alt="Gallery Image6" class="img-responsive">
					<h5>International Space Station</h5>
					<p>
						Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.
					</p>
					<p><a href="portfolio-single.html" class="btn btn-main">Read More</a></p>
				</li>
			<!-- Gallery Item #6 Ends -->
			<!-- Gallery Item #7 Starts -->
				<li class="col-md-4 col-sm-6 col-xs-12 gallery-grid" data-groups='["all", "category1"]'>
					<img src="images/portfolio/portfolio-3col/portfolio-img1.jpg" alt="Gallery Image7" class="img-responsive">
					<h5>Tabernacle Tower</h5>
					<p>
						Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.
					</p>
					<p><a href="portfolio-single.html" class="btn btn-main">Read More</a></p>
				</li>
			<!-- Gallery Item #7 Ends -->
			<!-- Gallery Item #8 Starts -->
				<li class="col-md-4 col-sm-6 col-xs-12 gallery-grid" data-groups='["all", "category2"]'>
					<img src="images/portfolio/portfolio-3col/portfolio-img1.jpg" alt="Gallery Image8" class="img-responsive">
					<h5>Out of Ideas</h5>
					<p>
						Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.
					</p>
					<p><a href="portfolio-single.html" class="btn btn-main">Read More</a></p>
				</li>
			<!-- Gallery Item #8 Ends -->
			<!-- Gallery Item #9 Starts -->
				<li class="col-md-4 col-sm-6 col-xs-12 gallery-grid" data-groups='["all", "category3"]'>
					<img src="images/portfolio/portfolio-3col/portfolio-img1.jpg" alt="Gallery Image9" class="img-responsive">
					<h5>The big building</h5>
					<p>
						Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.
					</p>
					<p><a href="portfolio-single.html" class="btn btn-main">Read More</a></p>
				</li>
			<!-- Gallery Item #9 Ends -->
			</ul>
		<!-- Portfolio Gallery Ends -->
		</div>
	<!-- Content Area Ends -->